body{
    background-color: pink;
    background-image:url('images/nyancat4.gif');

}
.mainHeader{
    font-size: 72px;
    font-weight: 700;
    width: 100%;
    text-shadow: 6px;
    font-family: 'Comic Sans MS','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: rgb(252,213,251);
    height: fit-content;
    margin-bottom: 30px;
    background-image:url('images/nyan-cat-nyan.gif'),url('images/hello-kitty-hello.gif');
    background-repeat: no-repeat, no-repeat;
    background-size: 20%, 20%;
    background-position: left, right;
    
}
.task {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
    border-radius: 10px;
}

.task-header {
    cursor: pointer;
    font-size: 20PX;
}

.task-content {
    display: none;
}

#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
    
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

  
  .rainbow-bg{
          animation: rainbow-bg 2.5s linear;
          animation-iteration-count: infinite;
  }
  
  
  @keyframes rainbow-bg{
          100%,0%{
              background-color: rgb(254, 199, 199);
          }
          8%{
              background-color: rgb(255, 222, 188);
          }
          16%{
              background-color: rgb(255, 255, 185);
          }
          25%{
              background-color: rgb(228, 255, 201);
          }
          33%{
              background-color: rgb(214, 255, 214);
          }
          41%{
              background-color: rgb(211, 255, 233);
          }
          50%{
              background-color: rgb(208, 255, 255);
          }
          58%{
              background-color: rgb(200, 228, 255);
          }
          66%{
              background-color: rgb(199, 199, 253);
          }
          75%{
              background-color: rgb(231, 207, 255);
          }
          83%{
              background-color: rgb(255, 211, 255);
          }
          91%{
              background-color: rgb(255, 213, 234);
          }
  }

  .circle-container {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }
  
  .circle-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 8s linear infinite;
  }
  
  .circle {
    display: block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #0072c6;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: transform 0.5s ease;
    
  }
  

  .circle:hover{
    transform: scale(1.2);
    background-color: #ff3399;
  }
  
  
  .circle-1 {
    position: absolute;
    background-image: url('images/github.jpg');
    background-size: cover;
    top: 0;
    left: 0;
    animation: rotate2 8s linear infinite;
  }

  
  
  .circle-2 {
    position: absolute;
    background-image: url('images/vk.png');
    background-size: cover;
    top: 0;
    right: 0;
    animation: rotate2 8s linear infinite;
  }
  
  .circle-3 {
    position: absolute;
    background-image: url('images/telegram.jpg');
    background-size: cover;
    bottom: 0;
    left: 0;
    animation: rotate2 8s linear infinite;
  }
  
  .circle-4 {
    position: absolute;
    background-image: url('images/yandex.png');
    background-size: cover;
    bottom: 0;
    right: 0;
    animation: rotate2 8s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate2 {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
  }

  /* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1019.cur), auto !important;} /* End https://www.cursors-4u.com */


.empty-block {
    width: 100%;
    height: fit-content;
    background-color: rgb(248, 250, 255);
    border-radius: 15px;
    border-color: rgba(255, 223, 238, 0.42);
    border-width: 1px;
    border-style: solid;
}

.empty-block-fixed {
    width: 1400px;
    height: 800px;
    background-color: rgb(248, 250, 255);
    border-radius: 15px;
    border-color: rgba(255, 223, 238, 0.42);
    border-width: 1px;
    border-style: solid;
}

.dateL{
    text-align: center;

}
.time {
    text-align: center;
}

.calendar {
    font-family: Arial;
    display: inline-block;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 250px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.days > div {
    flex-basis: calc(100% / 7);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev,
.next {
    background-color: #f2f2f2;
    border: none;
    color: #666;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
}

.prev:hover,
.next:hover {
    background-color: #ddd;
    color: #333;
}

.weekend {
    background-color: #8b8bf5;
    color: white;
}

.today {
    background-color: #ff71b9;
    color: white;
}

.next-month {
    background-color: #cccccc;
    color: #8c8c8c;
}
.prev-month {
    background-color: #cccccc;
    color: #8c8c8c;
}

.scaleRotateWrapper {
    width: 1720px;
    height: 800px;
    background-image: url("images/eminem.jpg");
}

.scaleRotate {
    width: 425px;
    height: 399px;
    background-image: url("images/homyak1.png");


    margin: 0 auto;
    margin-top: 150px;
    margin-left: 780px;
    transition: transform 0.5s ease-in-out;
}

.lab4button {
    width: 100px;
    height: 50px;
    background-color: #6666ff;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 50px;
    color: white;
    text-align: center;
}



ul {
    list-style: none;
    padding: 0;
}

/* Стили для элементов списка */
li {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}


.image-container {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.image-container img:first-child {
    opacity: 1;
}

.inner-block {
    cursor: pointer;
}

.hidden {
    display: none;
}

#dynamicTable {
    width: 30%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: white;

}
.rowTask5
{
    color: #ff3399;
}


.containerTask8 {
    position: relative;
    width: 500px; /* Задайте ширину и высоту контейнера подходящие для вашего случая */
    height: 300px;
}

#imageTask8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease; /* Плавное изменение прозрачности */
}

#textTask8 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease; /* Плавное изменение прозрачности */
}

.error {
    color: red;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#formLabel {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 48px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

select:focus {
    outline: none;
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

option {
    padding: 8px;
}

.arrow-container {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    animation: moveArrow 1s infinite alternate;
}

.arrow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ff3399;
}

@keyframes moveArrow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}


#game-container {
    position: relative;
    width: 1000px;
    height: 800px;
    border: 1px solid #ccc;
    overflow: hidden;
}
#bird {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
}

#pipe {
    width: 80px;
    height: 300px;
    background-color: green;
    position: absolute;
}

#restart-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #ccc;
    cursor: pointer;
}




  
  
  
  
  
 